.main {
    grid-area: Main;
    position: relative;
  }
  .main__profile-head {
    height: 150px;
    background: url("https://gas-kvas.com/uploads/posts/2023-02/1675492946_gas-kvas-com-p-fonovie-risunki-visoko-27.jpg") center/100% auto no-repeat;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 1px rgb(102, 102, 102);
            box-shadow: 0px 0px 10px 1px rgb(102, 102, 102);
  }
  .main__profile {
    margin-left: 10px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main__profile-content {
    margin-left: 30px;
  }
  .main__profile-image {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    background: url("https://i.pinimg.com/736x/47/16/07/471607026529caa5dbf824e81736be88.jpg") center/160px no-repeat;
  }
  .main__profile-name {
    margin-bottom: 20px;
  }
  .main__profile-info p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
  }
  .main__posts {
    margin-top: 20px;
    margin-left: 10px;
  }
  .main__post-header {
    margin-bottom: 30px;
  }
  .main__input {
    width: 90%;
    background: #e1e1e1;
    padding: 10px 10px 20px 10px;
    border: 1px solid #595959;
    border-radius: 10px;
    resize: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    display: block;
  }
  .main__input:focus {
    -webkit-box-shadow: 0px 0px 10px 1px rgb(102, 102, 102);
            box-shadow: 0px 0px 10px 1px rgb(102, 102, 102);
  }
  .main__button {
    background: #b3b3b3;
    padding: 6px 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    border-radius: 10px;
  }
  .main__button:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgb(171, 171, 171);
            box-shadow: 0px 0px 5px 0px rgb(171, 171, 171);
  }
  .main__button:active {
    background: #a4a4a4;
    -webkit-box-shadow: 0px 0px 5px 1px rgb(171, 171, 171);
            box-shadow: 0px 0px 5px 1px rgb(171, 171, 171);
  }
  .main__posts-wrapper {
    margin-top: 40px;
  }
  
  .high-text {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }