.side {
    grid-area: Side;
    background: #747474;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  .side__list li a {
    color: white;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
  }

  .side__list li a.active {
    color: rgb(196, 209, 254);
  }

  .side__list li {
    padding: 5px 0 0 10px;
    width: 80%;
  }
  .side__list li a:hover {
    color: rgb(211, 211, 211);
  }

  .side__list li a.active:hover {
    color: rgb(155, 176, 250);
  }

  .side__list li:first-child {
    padding-top: 20px;
  }
  .side__list li:last-child {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .side__friends{
    padding-top: 30px;
    padding-left: 10px;
  }

  .side__hightext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    transition-duration: 200ms;
  }

  .side__hightext:hover{
    color: rgb(211, 211, 211);
  }

  .side__friend{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 92%;
    justify-content: space-around;
  }

  .friend{
    display: flex;
    flex-direction: column;
    flex: 0 0 33%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    transition-duration: 300ms;
    padding: 6px 0;
    border-radius: 10px;
    cursor: pointer;
  }

  .friend:hover{
    background: #828282;
    
    box-shadow: 0 0 8px 1px #4f4f4f;
  }

  .friend__image{
    background: #fdd300;
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }

  .friend__name{
    margin-top: 10px;
    color: #ffffff;
  }