
#root{
    height: 100%;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-areas: "Header Header"
                         "Side Main";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.header{
    grid-area: Header;
    background: #747474;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 0 0 20px 20px;

    &__image{
       height: 50px;
       width: 50px; 
       background: url("../image/logo.png") 0/cover no-repeat;
       margin-left: 10px;
    }
}

.side{
    grid-area: Side;
    background: #747474;
    border-radius: 20px;
    margin-bottom: 10px;

    &__list li a{
        color: white;
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
        transition-duration: 200ms;
    }

    &__list li{
        padding: 5px 0 0 10px;
        width: 80%;
    }

    &__list li a:hover{
        color: rgb(211, 211, 211);
    }

    &__list li:first-child{
        padding-top: 20px;
    }
    &__list li:last-child{
        padding-top: 50px;
        padding-bottom: 40px;
    }
}

.main{
    grid-area: Main;
    //background: #897efe;
    position: relative;

    &__profile-head{
        height: 150px;
        background: url("https://gas-kvas.com/uploads/posts/2023-02/1675492946_gas-kvas-com-p-fonovie-risunki-visoko-27.jpg") center/100% auto no-repeat;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 1px rgb(102, 102, 102);
    }

    &__profile{
        margin-left: 10px;
        margin-top: 20px;
        display: flex;
    }

    &__profile-content{
        margin-left: 30px;
    }

    &__profile-image{
        width: 160px;
        height: 160px;
        border-radius: 10px;
        background: url('https://i.pinimg.com/736x/47/16/07/471607026529caa5dbf824e81736be88.jpg') center/160px no-repeat;
    }

    &__profile-name{
        margin-bottom: 20px;
    }

    &__profile-info p{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px 0;
    }

    &__posts{
        margin-top: 20px;
        margin-left: 10px;
    }

    &__post-header{
        margin-bottom: 30px;
    }

    &__input{
        width: 90%;
        background: #e1e1e1;
        padding: 10px 10px 20px 10px;
        border: 1px solid #595959;
        border-radius: 10px;
        resize: none;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        transition-duration: 200ms;
        display: block;
    }

    &__input:focus{
        box-shadow: 0px 0px 10px 1px rgb(102, 102, 102);
    }

    &__button{
        background: #b3b3b3;
        padding: 6px 40px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 5px;
        border-radius: 10px;
    }

    &__button:hover{
        box-shadow: 0px 0px 5px 0px rgb(171, 171, 171);
    }

    &__button:active{
        background: #a4a4a4;
        box-shadow: 0px 0px 5px 1px rgb(171, 171, 171);
    }

    &__posts-wrapper{
        margin-top: 40px;
    }
}

.high-text{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.post-item{
    display: flex;
    min-height: 60px;
    width: 100%;

    &__image{
        height: 60px;
        width: 60px;
        flex: 0 0 60px;
        border-radius: 50%;
        background: url('https://i.pinimg.com/736x/47/16/07/471607026529caa5dbf824e81736be88.jpg') center/60px no-repeat;
    }

    &__text{
        margin-left: 40px;
        font-size: 25px;
    }
}